<div>
  <div class="add-to-project">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li class="active"><strong>Create Template</strong></li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <p ng-if="!loaded">Loading...</p>

          <div ng-show="loaded">
            <h1>Template Creator</h1>

            <p>Create your new template by filling the form below.</p>

            <div id="editor_holder"></div>
            <button id="submit">Create (console.log)</button>

            <script>
              var editor = new JSONEditor(document.getElementById("editor_holder"), {
                theme: "bootstrap3",
                iconlib: "fontawesome4",
                disable_collapse: true,
                disable_edit_json: true,
                disable_properties: true,
                schema: {
                  "title": "Template",
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Template Name",
                      "minLength": 4,
                      "default": "My Template"
                    }
                  }
                }
              });

              // Hook up the submit button to log to the console
              document.getElementById("submit").addEventListener("click",function() {
                var data = editor.getValue();
                console.log(data);
                console.log(formOutputToTemplate(data));
              });
            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
